<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Error')}"></head>
<body>
	<nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-4 text-danger">404</h1>
            <p class="lead">Página Não Encontrada</p>
            <p class="mb-4">A página que você tentou acessar não existe ou foi movida.</p>
            <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
        </div>
    </div>
</body>
</html>