<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('Acesso negado')}"></head>
  <body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="text-center">
      <h1 class="display-1 text-danger">403</h1>
      <p class="lead">Acesso Negado</p>
      <p class="mb-4">Você não tem permissão para acessar este recurso.</p>
      <div class="d-flex justify-content-center">
        <a href="/" class="btn btn-primary mr-2">Ir para a Página Inicial</a>
      </div>
    </div>
  </body>
</html>
