<!-- fragments/navbar.html -->
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav
      th:fragment="navbar(activeTab)"
      class="navbar navbar-expand-lg navbar-dark bg-dark"
    >
      <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">AutoElite</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                th:classappend="${activeTab == 'veiculos'} ? 'active' : ''"
                href="#"
                th:href="@{/carros}"
                >Veículos</a
              >
            </li>
            <li class="nav-item">
              <a
                sec:authorize="hasAuthority('Admin')"
                class="nav-link"
                th:classappend="${activeTab == 'cadastro'} ? 'active' : ''"
                href="#"
                th:href="@{/carros/create}"
                >Cadastro</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                th:classappend="${activeTab == 'contato'} ? 'active' : ''"
                href="#"
                th:href="@{/contato}"
                >Contato</a
              >
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
            <input
              type="hidden"
              th:name="${_csrf.parameterName}"
              th:value="${_csrf.token}"
            />
            <button
              type="submit"
              class="btn btn-block d-lg-inline-block my-2 my-sm-0"
            >
              Sair
            </button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
